body{
    padding: 0px;
    margin: 0px;
    background-image: url(github.jpg)
}

a{
    display:inline-block;
    margin: 50px;
    font-size: 20px;
    color: lightcyan;
    text-decoration: none;
}

a:hover{
    color: white;
}