html {
    background-image:url(iamage/41943926_vector_seamless_sketchy.jpg);
    font-family: 'Forum', cursive;
}

logo {
  display: block;
  margin-left: 15%;
  margin-top: 40px;
  width: 542px;
  height: 170px;
  z-index: 35;
}

body{
    margin: 0px;
    padding: 0px;
    font-size:45px;
}


.border{
    position: relative;
    top:-5px;
    left: -3px;
    width: 100.5%;
}

#content {
  margin: 0px;
  padding: 0px; 
  background-color:#e8ebdd ;
  position: absolute;
  top: 240px;
  width: 100%;
  
  
  border: solid 2px #a29f96;
  border-top: 0px
}

#recept {
  padding-top: 1%;
  margin-top: 1%;
  position: relative;
  background-color: #5b4a43;
  width: 100%;
  height: auto;
}

.ingredients {
    margin: 25px 200px;
    padding-bottom: 5%;
    background-color: #cca355;    
}

.name {
    margin: auto  ;
    width: 80%;
    font-size: 2em;
    font-weight: bold;
    color: #5b4a43;
    text-align: center;
}

.pichaconteiner {
    margin: 10% auto;
    width: 283px;
    height: 283px;
    background-color: #5b4a43;
    border: solid 6px #af8c4a;
    border-radius: 183px;
}

.picha {
    display: block;
    margin: 33% auto;    
}

#list {
   margin:auto;
    color: #5b4a43;
    width: 80%;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    
}

.list {
    font-size: 1em;
    color: #5b4a43;
    font-weight: bold;
}

.list ul{
    margin-left: 6em;
}


ul {
    list-style-type: none;
    line-height: 180%;
    padding: 0em
}

.P {
    padding-top: 0.4em;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin: 2%;
}

.making {
    margin:5%;
    padding-bottom: 6%;
    color: white;
    font-size: 1.5em;
    }

#menu {
    display: none;
    position: relative;
    right: -28px;
    top: 32px;
    float: right;
    width:27%;
}

.bordermenuup{    
    height: 51px;
    background-color: #c69e51;
    box-shadow: 0px  5px 5px  #abb2aa ;
    color: white;
}


.menu {
    color: #5b4a43;
    margin: 1em 2.6em 1em 1em ;
}

.recepts {
    border-bottom: solid 2px #c69e51;
    padding-left: 1em;
}


.fact {
    width:89.8%;
    margin:5%;
    color: #5b4a43;
}

fotter {
    position: absolute;
    background-color: #5b4a43;
    width: 101%;
    height: 154px;
    top: 350%;
    left: -5px;
    
    
}

.borderbottom {
  
  position: absolute;
  left: 0px;
  top: -8px;
  width: 100%;
  height: 13px;
  z-index: 5;
}

#this {
    background-color: #c69e51;
}
a {
    text-decoration: none;
    color: #5b4a43;
    display: block;
    
}

a:hover {
    
    text-decoration:underline;
}

<style>
   @viewport {
    width: device-width;
    zoom: 1;
    max-zoom: 2;
   }
